.post {
  margin-bottom: 5em;

  &__header {
    margin-bottom: 2em;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    color: $color-gray-300;
    font-size: 1.22222em;
    line-height: 1.4;
    margin-top: 0.5em;
  }

  &__image {
    margin-bottom: 2em;
  
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__meta {
    color: $color-gray-300;
    font-size: 0.88889em;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
  }
}

@media only screen and (min-width: 601px) {
  .post {
    &__header,
    &__image {
      margin-bottom: 2.5em;
    }

    &__subtitle {
      font-size: 1.33333em;
    }
  }
}
